@import "globals.scss";
@import "grid.scss";

body {
    background: url('/img/textures/low_contrast_linen.png') repeat scroll 0 0;
    background-color: rgb(250, 250, 255);
    color: $white;
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 940px;
    margin: 0 auto;
    zoom:1;
    &:before, &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
    a {
        color: $orange;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            color: $orange;
            text-decoration: underline;
        }
    }
}

p, li {
    font-size: 16px;
    line-height: 28px;
}

a {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        color: $orange;
        text-decoration: underline;
    }
}

ul, ol {
    list-style: square;
    li {
        font-size: 16px;
        p {
            text-align: left;
        }
    }
}

hr {
    @include img-box-shadow();
    color: $black;
}

.header {
    margin-top: 20px;
    img {
        @include transition(.4s);
        opacity: .65;
        &:hover {
            opacity: .80;
        }
    }
}

.main {
    margin-top: 13px;
    p {
        img {
            margin-bottom: 5px;
            max-height: 320px;
            max-width: 50%;
        }
        &:nth-child(odd) img {
            margin-left: 15px;
            float: right;
        }
        &:nth-child(even) img {
            margin-right: 15px;
            float: left;
        }
    }
    .page_pic {
        img {
            display: block;
            margin: 5px 0 20px;
            max-width: 100%;
        }
        &.right {
            float: right;
            padding-left: 40px;
            text-align: right;
        }
        &.left {
            float: left;
            padding-right: 40px;
            text-align: left;
        }
        &.top {
            text-align: right;
            img {
                margin-bottom: 5px;
            }
        }
    }
    .page {
        img {
            margin: 20px 0 20px 0;
        }
    }
}

.base-image img {
    margin-bottom: 5px;
    max-height: 480px;
}

.list {
    margin-left: 10px;
    h3, h4 {
        line-height: 18px;
    }
    a {
        color: $orange;
        &:hover {
            color: $orange;
            text-decoration: underline;
        }
    }
}

.navigation {
    font-family: 'Arvo', serif;
    margin: 20px 0;
    text-align: center;
    a {
        @include transition(.3s);
        padding: 15px;
        margin-left: 5px;
        color: $light-gray;
        font-weight: bold;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &:hover {
            text-decoration: none;
            color: $white;
        }
        &.current_nav {
            color: $white;
        }
    }
}

ul.subpage-list {
    list-style: none;
    li {
        margin-bottom: 20px;
        line-height: inherit;
    }
}

.subpage-title {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    color: $orange;
}

.subpage-subtitle {
    display: block;
    font-size: 1.0em;
    display: block;
}

#home {
    .col5 {
        @include col(5);
        margin-right: 19px;
        h1 {
            display: inline;
        }
        span {
            font-size: 24px;
            left: 6px;
            position: relative;
        }
    }
}

.person {
    @include col(8);
    margin-bottom: 26px;
    h1 {
        font-size: 1.4em;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
    }
    h2 {
        font-size: 0.9em;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        margin-bottom: 5px;
        color: $gray;
    }
    img {
        float: left;
        margin-right: 10px;
        width: 125px;
        height: 125px;
    }
}

.no-events {
    font-style: italic;
}

.footer {
    background: url('/img/textures/assault.png') repeat scroll 0 0;
    background-color: $white;
    padding-top: 20px;
    text-align:center;
    a {
        color: $blue;
    }
    p {
        font-size: 14px;
        line-height: 13px;
    }
}

/* Clearfix */
.c:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.c {
    display: inline-block;
}
html[xmlns] .c {
    display: block;
}
* html .c {
    height: 1%;
}
