body {
  background: url("/img/textures/low_contrast_linen.png") repeat scroll 0 0;
  background-color: #fafaff;
  color: #ebebeb;
  font-family: 'PT Sans', sans-serif; }

.container {
  width: 940px;
  margin: 0 auto;
  zoom: 1; }
  .container:before, .container:after {
    display: table;
    content: ""; }
  .container:after {
    clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #57b28f;
    font-weight: bold;
    text-decoration: none; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #57b28f;
      text-decoration: underline; }

p, li {
  font-size: 16px;
  line-height: 28px; }

a {
  color: #57b28f;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    color: #57b28f;
    text-decoration: underline; }

ul li, ol li {
  font-size: 16px; }
  ul li p, ol li p {
    text-align: left; }

hr {
  -moz-box-shadow: 2px 2px 4px #8c8c8c;
  -webkit-box-shadow: 2px 2px 4px #8c8c8c;
  box-shadow: 2px 2px 4px #8c8c8c;
  color: #0a0a0a; }

.header {
  margin-top: 13px; }
  .header img {
    opacity: .65; }

.main {
  margin-top: 13px; }
  .main p img {
    margin-bottom: 5px;
    max-height: 320px;
    max-width: 50%; }
  .main p:nth-child(odd) img {
    margin-left: 15px;
    float: right; }
  .main p:nth-child(even) img {
    margin-right: 15px;
    float: left; }
  .main .page_pic img {
    display: block;
    margin: 5px 0 20px;
    max-width: 100%; }
  .main .page_pic.right {
    float: right;
    padding-left: 40px;
    text-align: right; }
  .main .page_pic.left {
    float: left;
    padding-right: 40px;
    text-align: left; }
  .main .page_pic.top {
    text-align: right; }
    .main .page_pic.top img {
      margin-bottom: 5px; }
  .main .page img {
    margin: 20px 0 20px 0; }

.base-image img {
  margin-bottom: 5px;
  max-height: 480px; }

.list {
  margin-left: 10px; }
  .list h3, .list h4 {
    line-height: 18px; }
  .list a {
    color: #57b28f; }
    .list a:hover {
      color: #57b28f;
      text-decoration: underline; }

.navigation {
  margin: 20px 0;
  text-align: center; }
  .navigation a {
    padding: 15px;
    margin-left: 5px;
    color: #aaaaaa;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .navigation a:hover {
      text-decoration: none;
      color: #ebebeb; }
    .navigation a.current_nav {
      color: #ebebeb; }

ul.subpage-list {
  list-style: none; }
  ul.subpage-list li {
    margin-bottom: 20px;
    line-height: inherit; }

.subpage-title {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  color: #57b28f; }

.subpage-subtitle {
  display: block;
  font-size: 1.0em;
  display: block; }

#people h1 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  line-height: 1.2em; }
#people h2 {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  margin-bottom: 5px;
  color: #8c8c8c; }
#people img {
  float: left;
  margin-right: 10px;
  width: 125px;
  height: 125px; }

.no-events {
  font-style: italic; }

.footer {
  background: url("/img/textures/assault.png") repeat scroll 0 0;
  background-color: #ebebeb;
  padding-top: 20px;
  text-align: center; }
  .footer a {
    color: #57b28f; }
  .footer p {
    font-size: 14px;
    line-height: 13px; }

/* Clearfix */
.c:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.c {
  display: inline-block; }

html[xmlns] .c {
  display: block; }

* html .c {
  height: 1%; }
