<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png"/>

    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Sans:400,700'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/big_index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sticky_footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>

    <script type="text/javascript" src="/js/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-ui-1.8.16.custom.min.js"></script>

    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="wrap">
      <div class="container">

        <div class="header container">
          <a href="/"><img src="/img/logo2.png"></a>

          <div class="navigation">
            {% for link in site.tags['navigation']|sort(attribute='navrank') %}
              {% if page.url == link.url or (page.category[0] in link.url if page.category else False) %}
                <a class="current_nav" href="{{ link.url }}">
              {% else %}
                <a href="{{ link.url }}">
              {% endif %}
                <span>{{ link.title }}</span></a>
            {% endfor %}
          </div>
        </div>

        <hr>

        <div class="heading-group">
          {% block title %}
          {% endblock %}
        </div>

        <div class="main">
          <div class="base-image">
            {% if page.image %}
              <div class="page_pic {{ page.image.where }}" style="
                {% if page.image.width %}max-width: {{page.image.width}};{% endif %}
                {% if page.image.height %}max-height: {{page.image.height}};{% endif %}">
                <img src="{{ page.image.url }}" />
                  {% if page.image.caption %}
                    <span>{{ page.image.caption }}</span>
                  {% endif %}
                </div>
              {% endif %}
          </div>
          {% block content %}
          {% endblock %}
        </div>

      </div>
    </div>

    <div class="footer">
      <p>Oregon State University Branch of American Institute of Aeronautics and Astronautics</p>
      <span>
        {% set nextevent = site.categories['events'] | sort(attribute='datetime') | first %}
        {% if nextevent.datetime > site.datetime %}
          <p>
            <b>Next Event:</b>
            <a href="{{ nextevent.url }}">{{ nextevent.title }}</a> |
            {{ nextevent.date.strftime("%A %B %d, %Y") }} |
            {{ nextevent.location }}
          </p>
        {% endif %}

        <p><a href="https://github.com/ngokevin/osuaiaa"><b>source code</b></a></p>
       </span>
    </div>

  </body>
</html>
