<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/img/linux-favicon.png"/>

    <link rel="stylesheet" type="text/css" href="/css/sticky_footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/big_index.css"/>

    <script type="text/javascript" src="/js/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/js/sliding-paginator-thing.js"></script>

    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div class="wrap">

      <div class="container">

        <div class="header">
          <img src="/img/logo2.png">
        </div>

        <div class="container">
          <div class="navigation">
            {% for link in site.tags['navigation']|sort(attribute='navrank') %}
              {% if page.url == link.url %}
                <a class="current_nav" href="{{ link.url }}">
              {% else %}
                <a href="{{ link.url }}">
              {% endif %}
                <span>{{ link.title }}</span></a>
            {% endfor %}
          </div>
        </div>

        <hr>

        <div class="heading-group">
          {% block title %}
          {% endblock %}
        </div>

        <div class="main">
          <div class="base-image">
            {% if page.image %}
              <div class="page_pic {{ page.image.where }}" style="
                {% if page.image.width %}max-width: {{page.image.width}};{% endif %}
                {% if page.image.height %}max-height: {{page.image.height}};{% endif %}">
                <img src="{{ page.image.url }}" />
                  {% if page.image.caption %}
                    <span>{{ page.image.caption }}</span>
                  {% endif %}
                </div>
              {% endif %}
          </div>
          {% block content %}
          {% endblock %}
        </div>

      </div>
    </div>

    <div class="footer">
      <span>
       <p>OSU AIAA</p>
       <p>Powered by <a href="https://github.com/mythmon/wok"><b>wok</b></a></p>
      </span>
    </div>

  </body>
</html>
