{# Assumption: There is a "with people-tag = X" tag wrapping this. #}
{% for column in site.tags[people_tag]|sort(attribute='rank')|slice(2 if people_tag == 'Officers' else 1) %}
<div class="span8">
  {% for page in column %}
    {% set person = page.person %}
    <div class="person">
      {% if person.image %}
        <img src="{{person.image}}" />
      {% endif %}

      <h1>{{ person.name }}</h1>

      {% if person.title or person.irc %}
      <h2>
        {% if person.title %}
          <span>{{ person.title }}</span>
        {% endif %}
        {% if person.email %}
          <span>| <a href="mailto:{{ person.email }}">Email</a></span>
        {% endif %}
      </h2>
      {% endif %}
      <div style="display: block" class="c">
        {{ page.content }}
      </div>
    </div>
  {% endfor %}
</div>
{% endfor %}
